# Module 3: Data Structures Assignments
## Lesson 3.3: Sets
### Assignment 1: Creating and Accessing Sets

Create a set with the first 10 positive integers. Print the set.

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

### Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.

In [1]:
set1 = set(range(1, 11))
print(set1)

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}

### Assignment 2: Adding and Removing Elements

Add the number 11 to the set created in Assignment 1. Then remove the number 1 from the set. Print the modified set.

In [2]:
set1.add(11)
set1

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

In [3]:
set1.pop()

1

In [4]:
set1

{2, 3, 4, 5, 6, 7, 8, 9, 10, 11}

### Assignment 3: Set Operations

Create two sets: one with the first 5 positive integers and another with the first 5 even integers. Perform and print the results of union, intersection, difference, and symmetric difference operations on these sets.

In [7]:
set1 = {1, 2, 3, 4, 5}
set2 = {2, 4, 6, 8, 10}

# Union
union = set1.union(set2)
print(union)

# Intersection
intersection = set1.intersection(set2)
print(intersection)

# Difference
difference = set1.difference(set2)
print(difference)

# Symmetric Difference
smd = set1.symmetric_difference(set2)
print(smd)

{1, 2, 3, 4, 5, 6, 8, 10}
{2, 4}
{1, 3, 5}
{1, 3, 5, 6, 8, 10}

### Assignment 4: Set Comprehensions

Create a new set containing the squares of the first 10 positive integers using a set comprehension. Print the new set.

In [25]:
set_sq = set()
for i in range(1, 11):
    set_sq.add(i ** 2)
print(set_sq)

{64, 1, 4, 36, 100, 9, 16, 49, 81, 25}

In [26]:
sorted(set_sq)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [27]:
set_sq

{1, 4, 9, 16, 25, 36, 49, 64, 81, 100}

### Assignment 5: Filtering Sets

Create a new set containing only the even numbers from the set created in Assignment 1 using a set comprehension. Print the new set.

In [35]:
set1 = set([1, 2, 3, 4, 5, 6, 7, 8, 9, 10])
set_even = set()

In [39]:
# {expression for item in iterable if condition}

res = {num for num in set1 if num % 2 == 0}
print(res)

{2, 4, 6, 8, 10}

### Assignment 6: Set Methods

Create a set with duplicate elements and remove the duplicates using set methods. Print the modified set.

In [41]:
set_dup = {1, 2, 2, 3, 4, 5, 5, 5, 6, 7, 4}
set_dup

{1, 2, 3, 4, 5, 6, 7}

### Assignment 7: Subsets and Supersets

Create two sets: one with the first 5 positive integers and another with the first 3 positive integers. Check if the second set is a subset of the first set and if the first set is a superset of the second set. Print the results.

In [42]:
# use issubset fn and issuperset fn

### Assignment 8: Frozenset

Create a frozenset with the first 5 positive integers. Print the frozenset.

In [ ]:
# Does not allow updation of sets or lists 

fro_set = frozenset([1, 2, 3, 4, 5])
fro_set

frozenset({1, 2, 3, 4, 5})

In [47]:
fro_set[2] = 6

TypeError: 'frozenset' object does not support item assignment

### Assignment 10: Set and Dictionary

Create a dictionary with set keys and integer values. Print the dictionary.

In [53]:
dict1 = {
    "Madhur" : 20,
    "Vicky" : 19,
    "Shasha Banks" : 33
}
print(dict1)

{'Madhur': 20, 'Vicky': 19, 'Shasha Banks': 33}

### Assignment 11: Iterating Over Sets

Create a set and iterate over the elements, printing each element.

In [66]:
iter_set = {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
for i in iter_set:
    print(i, " ")

1
2
3
4
5
6
7
8
9
10
11
12
13

### Assignment 12: Removing Elements from Sets

Create a set and remove elements from it until it is empty. Print the set after each removal.

In [67]:
iter_set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}

In [68]:
while iter_set:
    print("Current Set: ", iter_set)
    iter_set.pop()
print("Final Set: ", iter_set)

Current Set:  {1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
Current Set:  {2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
Current Set:  {3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
Current Set:  {4, 5, 6, 7, 8, 9, 10, 11, 12, 13}
Current Set:  {5, 6, 7, 8, 9, 10, 11, 12, 13}
Current Set:  {6, 7, 8, 9, 10, 11, 12, 13}
Current Set:  {7, 8, 9, 10, 11, 12, 13}
Current Set:  {8, 9, 10, 11, 12, 13}
Current Set:  {9, 10, 11, 12, 13}
Current Set:  {10, 11, 12, 13}
Current Set:  {11, 12, 13}
Current Set:  {12, 13}
Current Set:  {13}
Final Set:  set()

## Assignment 13: Set Symmetric Difference Update

Create two sets and update the first set with the symmetric difference of the two sets. Print the modified first set.

In [71]:
set1 = {1, 2, 3, 4, 5, 6, 7, 8}
set2 = {4, 5, 6, 7, 8, 9, 10, 11}

set1 = set1.symmetric_difference(set2)

In [72]:
set1

{1, 2, 3, 9, 10, 11}

### Assignment 14: Set Membership Testing

Create a set and test if certain elements are present in the set. Print the results.

In [75]:
3 in set1

True

### Assignment 15: Set of Tuples

Create a set containing tuples, where each tuple contains two elements. Print the set.