In [1]:
## Creating a Tuple
empty_tuple = ()
print(empty_tuple)
print(type(empty_tuple))

()
<class 'tuple'>

In [2]:
lst = list()
print(type(lst))
tpl = tuple()
print(type(tpl))

<class 'list'>
<class 'tuple'>

In [4]:
num = tuple([1, 2, 3, 4, 5, 6, 7 , 8])
print(num)

(1, 2, 3, 4, 5, 6, 7, 8)

In [6]:
muxed_tuple = (1, "Madhur", 3.2346, True)
print(muxed_tuple)

(1, 'Madhur', 3.2346, True)

In [9]:
## Accedding Tuple elements

num[0:4]

(1, 2, 3, 4)

In [10]:
## Tuple Operations

num + muxed_tuple

(1, 2, 3, 4, 5, 6, 7, 8, 1, 'Madhur', 3.2346, True)

In [ ]:
# Immutable nature of Tuples
#tuple Methods

print(num.count(2))     #count the number of occurences of the element
print(num.index(3))     # In which index third element is present

1
2

In [ ]:
#Packing and unpacking Tuples

packed_tup = 1, "Madhur", 3.2332    # Pack them in a tuple
print(packed_tup)

(1, 'Madhur', 3.2332)

In [ ]:
# Unpacking a Tuple

a, b, c = packed_tup
print(a)
print(b)
print(c)

1
Madhur
3.2332

In [ ]:
# Unpacking with Star

nums = (1, 2, 3, 4, 5, 6)
first, *middle, last = nums
print(first)
print(middle)
print(last)

1
[2, 3, 4, 5]
6

In [21]:
# Nested Tuples

nt = [(1, 2, 3, 4), (4, 5, 6, 7), (1, "hello", 3.12, "A")]
print(nt)
print(nt[2][1])

[(1, 2, 3, 4), (4, 5, 6, 7), (1, 'hello', 3.12, 'A')]
hello

In [24]:
# Iterating over nested Tuples

for sub_tuple in nt:
    for item in sub_tuple:
        print(item, end = " ")
    print()

1 2 3 4
4 5 6 7
1 hello 3.12 A